<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>registration</title>
</head>
<body>
<h1>Registration</h1>
<form action="register" method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="enter ur username"><br>
     <input type="text" name="first_name" placeholder="enter ur firstname"><br>
     <input type="text" name="last_name" placeholder="enter ur lastname"><br>
     <input type="email" name="email" placeholder="enter ur mail"><br>
     <input type="password" name="password"placeholder="enter ur password"><br>
     <input type="password" name="CONFIRM_PASSWORD" placeholder="confirmed password "><br>
     <input type="submit">
</form>
{% for msg in messages %}
{{msg}}
{% endfor %}
</body>
</html>